<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books And Authors</title>
</head>
<body>
    <h1>{{this_book.title}}</h1>
    <h2>ID: {{this_book.id}}</h2>
    <h2>Description:</h2>
    <p>{{this_book.desc}}</p>
    <ul>Authors:
    {% for i in this_book.authors %}    
        <li>{{i.first_name}} {{i.last_name}}</li>
    {% endfor %}
    </ul>
    <form action="/addtobook" method="POST">
    {% csrf_token %}
        <select>
            {% for author in list_of_authors %}
            <option value="{{author.id}}">{{author.id}}</option>
            {% endfor %}
        </select>
    </form>
</body>
</html>