<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Ground</title>
    <style>
        div{
            width: 80%;
            display: inline-block;
            margin: 20px;
        }
        .boxes{
            width: 70px;
            height: 70px;
            background-color: rebeccapurple;
        }
    </style>
</head>
<body>
    <div>
        {% for i in range(0,number) %}
            <div class="boxes" style="background-color: {{colorbox}}"></div>
        {%endfor%}
    </div>

</body>
</html>